/target
.DS_Store

# Bethesda game data — large, copyrighted, supplied locally (not redistributable).
# Tests expect e.g. crates/beth-esm/tests/Morrowind.esm to be present when running them.
*.esm
*.esp
*.bsa
*.nif
