/target
.DS_Store

# Bethesda game data — large, copyrighted, supplied locally (not redistributable).
# Tests expect beth-rs/tests/Morrowind.esm to be present on the machine running them.
*.esm
*.esp
*.bsa
